<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

   <main class="centered">

   <h1><%= product.title%></h1>
   <div class="card__image card-img-top center responsive">
       <img src="<%= product.imageURL%>" alt="<%= product.title%>">
   </div>
   <h2>$<%= product.price %></h2>
   <p><%= product.description %></p>
   <form action="/cart" method="POST">
        <button class="btn btn-primary">Add to Cart</button>
        <input type="hidden" name="productID" value="<%= product.id%>">
   </form>

</main>

<%- include('../includes/end.ejs') %>