<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
    <main>
        <% if (prods.length > 0) { %>
            <div class="card">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image card-img-top center responsive">
                            <img src="<%= product.imageURL%>";
                                alt="<%= product.imageURL%>">
                        </div>
                        <div class="card__content card-body">
                            <h2 class="product__price card-title">$<%= product.price %></h2>
                            <p class="product__description card-text"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/products/<%= product.id %>"><button class="btn btn-primary">Details</button></a>
                            <form action="/cart" method="POST">
                                <button class="btn btn-primary">Add to Cart</button>
                                <input type="hidden" name="productID" value="<%= product.id%>">
                           </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
</div>
<%- include('../includes/end.ejs') %>